################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TkilWebsite/FileContentIndex/24d968c2-d17e-41ac-9e95-775a3b02d402.vsidx
*.vsidx
